h1 {
    text-align: center;
}

#container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
}
#button {
    margin: 10px;
    background-color: #4CAF50;
    border: 1px solid black;
}
#button:hover {
    background-color: #3e8e41;
}